@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
    --var-font-titulo:'Josefin Sans', sans-serif;
    --var-font-corpo:'Alata', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("assets/destination/background-destination-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/*Configurando o carrocel*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 10px 10px;
}
.menu-desktop{
    
    display: flex;
    padding-left: 90px;
    padding-top: 35px;
    height: 100px;
    width: 60%;
    background-color: rgba(128, 128, 128, 0.232);
}
.menu-mobile{
    background-color:rgba(128, 128, 128, 0.511) ;
    text-align: left;
    padding: 20px;
    display: none;
    height: 250px;
}
.menu-mobile .opções-menu{
    margin-bottom: 30px;
    width: 150px;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
}
.hamburguer{
    display: none;
    background-image: url("assets/shared/icon-hamburger.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 27px;
    margin-right: 5%;
    cursor: pointer;
}
#logo {
    margin-top: 20px;
    margin-left: 30px;
}
.opções-menu{
    list-style: none;    
}
.opções-menu:not(:last-child){
    margin-right: 40px;
    
}
.opções-menu a{
    font-family: var(--var-font-titulo);
    text-decoration: none;
    color: white;
    margin: auto auto;
    font-size: 1.3rem;
    font-weight: 100;
    
    
}
.opções-menu:hover{
    border-bottom: solid 3px white;
}
.menu-mobile .opções-menu:hover{
    border-bottom:none;
}
/*Configurando o título superior*/
.container-titulo-crew{
    margin-left:10%;
    margin-top:40px;
    margin-bottom: 60px;
    display: flex;

}
.num-crew{
    font-family: var(--var-font-titulo);
    font-size: 2rem;
    color: gray;
    font-weight: 100;

}
.titulo-crew{
    margin-left: 20px;
    font-family: var(--var-font-titulo);
    font-size: 2rem;
    color: white;
    font-weight: 100;
}
/*Configurando o carrocel*/
.slider{
    margin-left:10%;
    overflow: hidden;
    width: 1200px;
    height: 500px;
    
}
.slider input{
    display: none;
}
.slides{
    
    display: flex;
    width: 4800px;
    height: 500px;
}
.slide-one, .slide{
   
    display: flex;
}
.container-texto-slide{
    margin-left: 200px;
    padding-top: 75px;
    text-align: center;
    width: 600px;
    height: 500px;
}
.container-texto-baixo{
    padding-top: 20px;
    border-top: solid 1px white;
    display: flex;
    justify-content: space-between;
}
.texto-baixo-direita{
    position: relative;
    right: 10%;
}

.container-texto-slide h2{
    color: white;
    font-size: 1.1rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 3px;
    
}
.container-texto-slide .titulo-geral-slide{
    color: white;
    font-size: 6rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 10px;
    text-align: left;
    font-weight: 100;
    
}
.container-texto-baixo h1{
    color: white;
    font-size: 3rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 30px;
    text-align: left;
    font-weight: 100;
}
.container-texto-slide p{
    
    margin-bottom: 15px;
    color: white;
    font-size: 1.5rem;
    font-family: var(--var-font-titulo);
    line-height: 30px;
    text-align: left;
    letter-spacing: 3px;

}
.slide-one img, .slide img{
   position: relative;
   top: 15%;
    width: 400px;
    height: 400px;
}
/*Configurando os botões do carrocel*/
.menu-slide{
    position: absolute;
    margin-top: -502px;
    right: 8%;
    display: flex;
    width: 500px;
    
    
}
.menu-botão{
    font-family: var(--var-font-titulo);
    font-size: 1.5rem;
    color: white;
    width: 80px;
    cursor: pointer;
    text-align: center;
}
.menu-botão:first-child{
    width: 70px;
}
.menu-botão:not(:last-child){
    margin-right: 70px;
}
.menu-botão:hover{
    border-bottom: solid 1px white;
}
#radio1:checked ~ .slide-one{
    margin-left: 0px;
    transition: 0.5s;
}
#radio2:checked ~ .slide-one{
    margin-left: -1200px;
    transition: 0.5s;
}
#radio3:checked ~ .slide-one{
    margin-left: -2400px;
    transition: 0.5s;
}
#radio4:checked ~ .slide-one{
    margin-left: -3600px;
    transition: 0.5s;
}
/*Configurando para que os botões fiquem checados */
.navigation-menu{
    position: absolute;
    margin-top: 23px;
    right: 8%;
    display: flex;
    width: 500px;
}

.navigation-menu div{
    
    width: 80px;
   
}

.navigation-menu div:not(:last-child){
    margin-right: 62px;
}

#radio1:checked ~ .navigation-menu .auto-btn1{
    border-bottom: solid 1px white;
}
#radio2:checked ~ .navigation-menu .auto-btn2{
    border-bottom: solid 1px white;
}
#radio3:checked ~ .navigation-menu .auto-btn3{
    border-bottom: solid 1px white;
}
#radio4:checked ~ .navigation-menu .auto-btn4{
    border-bottom: solid 1px white;
}
.mostrar{
    display: block;
    
}
.ocultar{
    transform: translateY(-2000%);
    display: none;
}
.plano{
    background-image: url("assets/shared/icon-close.svg");
    transition: 0.5s;
}
.background{
    background-color: black;
    background-image: none;
}
.plano-nav{
    background-color:rgba(128, 128, 128, 0.511) ;
}

@media screen and (max-width:1350px){
    .slider{
        margin:auto;
        overflow: hidden;
        width: 600px;
        height: 800px;
        
        
    }
    .slides{
        width: 2400px;
        height: 500px;
    }
    .slide-one, .slide{
        width: 600px;
        height: 800px;
        display: block;
    }
    .container-texto-slide{
        width: 600px;
       padding-top: 0;
        text-align: center;
        margin-left: 0px;
        margin-right: 10px;
        height: 400px;
    }
    .container-texto-slide .titulo-geral-slide{
        text-align: center;
        width: 300px;
       padding-top: 0;
        margin: auto;   
    }
  
    .slide-one img, .slide img{
        position: static;
        margin: 0px 0px 100px 150px ;
        margin-top: 0px;
        margin-bottom: 100px;
        
         width: 300px;
         height: 300px;
     }
     .menu-slide{
        position: relative;
        margin-top: -165px;
        right: -6%;
    }
    .navigation-menu{
        display: none;
     
    }
     #radio1:checked ~ .slide-one{
        margin-left: 0px;
        transition: 0.1s;
    }
    #radio2:checked ~ .slide-one{
        margin-left: -600px;
        transition: 0.1s;
    }
    #radio3:checked ~ .slide-one{
        margin-left: -1200px;
        transition: 0.1s;
    }
    #radio4:checked ~ .slide-one{
        margin-left: -1800px;
        transition: 0.1s;
    }
}

/*O menu Mobile fica disponível */
@media screen and (max-width:980px){ 
    .hamburguer{
        display: block;
    }
    .menu-desktop{
        display: none;
    }
}
@media screen and (max-width:620px){
    
    body{
        background-image: url("assets/destination/background-destination-tablet.jpg");
    }
    
    .slider{
        margin:auto;
        overflow: hidden;
        width: 300px;
        height: 1200px;
    }
    .slides{
        width: 1200px;
        height: 1200px;
    }
    .slide-one, .slide{
        width: 300px;
        height: 1200px;
        display: block;
    }
    .container-texto-slide{
        width: 100%;
       padding-top: 0;
        text-align: center;
        margin-left: 0px;
        margin-right: 10px;
        height: 400px;
    }
    .container-texto-baixo{
        display: block;
        text-align: center;
    }
    .container-texto-slide .titulo-geral-slide{
        color: white;
        font-size: 4rem;
    }
    .container-texto-slide p{
        font-size: 1.5rem;       
        text-align: center;
    }
    .texto-baixo-direita{
        position: static;
    }
    .container-texto-baixo h1{
        font-size: 3rem;
        text-align: center;
    }
    .container-texto-baixo h2{
        
        text-align: center;
    }
    .slide-one img, .slide img{
        position: static;
        margin: 0px 0px 100px 0px ;
        
     }
    #radio1:checked ~ .slide-one{
        margin-left: 0px;
        transition: 0.0s;
    }
    #radio2:checked ~ .slide-one{
        margin-left: -300px;
        transition: 0.0s;
    }
    #radio3:checked ~ .slide-one{
        margin-left: -600px;
        transition: 0.0s;
    }
    #radio4:checked ~ .slide-one{
        margin-left: -900px;
        transition: 0.0s;
    }
     .menu-slide{
        position: relative;
        margin-top: -865px;
        right: 0%;
        display: flex;
        justify-content: center; 
        width: 300px; 
    }

    .menu-botão:not(:last-child) {
        margin-right: 10px;
    }
    .container-titulo-crew{
        margin: auto;
        margin-top:40px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    
    }
    .num-crew{
        font-size: 1.4rem;
    }
    .titulo-crew{
        font-size: 1.4rem;
    }

}

@media screen and (max-width:420px){
    #logo {
        margin-top: 20px;
        margin-left: 15px;
    }
    body{
        background-image: url("assets/destination/background-destination-mobile.jpg");
    }

}