@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
    --var-font-titulo:'Josefin Sans', sans-serif;
    --var-font-corpo:'Alata', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/home/background-home-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 10px 10px;
}
.menu-desktop{
    
    display: flex;
    padding-left: 90px;
    padding-top: 35px;
    height: 100px;
    width: 60%;
    background-color: rgba(128, 128, 128, 0.232);
}
.menu-mobile{
    background-color:rgba(128, 128, 128, 0.511) ;
    text-align: left;
    padding: 20px;
    display: none;
    height: 250px;
}
.menu-mobile .opções-menu{
    margin-bottom: 30px;
    width: 150px;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);   
}
.hamburguer{
    display: none;
    background-image: url("assets/shared/icon-hamburger.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 27px;
    margin-right: 5%;
    cursor: pointer;
   
}
#logo {
    margin-top: 20px;
    margin-left: 30px;
}
.opções-menu{
    list-style: none;    
}
.opções-menu:not(:last-child){
    margin-right: 40px;
    
}
.opções-menu a{
    font-family: var(--var-font-titulo);
    text-decoration: none;
    color: white;
    margin: auto auto;
    font-size: 1.3rem;
    font-weight: 100;
}
.menu-mobile .opções-menu:hover{
    border-bottom: none;
}
.opções-menu:hover{
    border-bottom: solid 3px white;
}


.container-texto-home{
    display: flex;
    width: 100%;
   height: 700px;
    
}
.texto-home{
    position: relative;
   left: 150px;
   top: 100px;
    width: 600px;
    height: 400px;
}

.explore{
    font-family: var(--var-font-titulo);
    width: 250px;
    height: 250px;
    position: relative;
    right: -320px;
    top: 165px;
    border: solid 1px white;
    border-radius: 250px;
    color: white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.explore span{
    color: black;
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    top: 30px;
    height: 100px;
}
.container-texto-home h2{
    color: gray;
    font-size: 1.5rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 3px;
}
.container-texto-home h1{
    color: white;
    font-size: 9rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 30px;
    text-align: left;
    font-weight: 100;
}
.container-texto-home p{
    color: white;
    font-size: 1.5rem;
    font-family: var(--var-font-titulo);
    line-height: 30px;
    text-align: left;
    letter-spacing: 3px;
}
.mostrar{
    display:block;
}
.ocultar{
    display: none;
}
.plano{
    background-image: url("assets/shared/icon-close.svg");
    transition: 0.5s;
}
.plano-nav{
    background-color:rgba(128, 128, 128, 0.511) ;
}
@media screen and (max-width:1200px){
    .container-texto-home{
        display: block;
        
        width: 100%;
       height: 1200px;
        
    }
    .texto-home{
        position: relative;
        margin: auto;
     left: 0px;
       top: 60px;
        width: 600px;
        
    }
    
    .explore{
        font-family: var(--var-font-titulo);
        width: 250px;
        height: 250px;
        position: relative;
        margin: auto;
        right: 0px;
        top: 165px;

    }
    .container-texto-home h2, .container-texto-home h1,.container-texto-home p{
  text-align: center;
}
}
@media screen and (max-width:1069px){
    body{
        background-image: url("assets/home/background-home-tablet.jpg");
    }
    .hamburguer{
        display: block;
    }
    .menu-desktop{
        display: none;
    }
}

@media screen and (max-width:610px){
   
    .texto-home{
        width: 400px;
    }
    
    .explore{
        font-family: var(--var-font-titulo);
        width: 250px;
        height: 250px;
        position: relative;
        margin: auto;
        right: 0px;
        top: 200px;

    }
}
@media screen and (max-width: 410px){
    body{
        background-image: url("assets/home/background-home-mobile.jpg");
    }
    .texto-home {
        width: 320px;
    }
    .container-texto-home h1{
        font-size: 6rem;
       
    }
}