@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
    --var-font-titulo:'Josefin Sans', sans-serif;
    --var-font-corpo:'Alata', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.macedo{
    height: 1000px;
}
body{
    background-image: url("assets/crew/background-crew-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 10px 10px;
}
.menu-desktop{
    
    display: flex;
    padding-left: 90px;
    padding-top: 35px;
    height: 100px;
    width: 60%;
    background-color: rgba(128, 128, 128, 0.232);
}
.menu-mobile{
    background-color:rgba(128, 128, 128, 0.511) ;
    text-align: left;
    padding: 20px;
    display: none;
    height: 250px;

   
    
    
}
.menu-mobile .opções-menu{
    margin-bottom: 30px;
    width: 150px;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    
    
}
.hamburguer{
    display: none;
    background-image: url("assets/shared/icon-hamburger.svg");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 27px;
    margin-right: 5%;
    cursor: pointer;
   
}
#logo {
    margin-top: 20px;
    margin-left: 30px;
}
.opções-menu{
    list-style: none;    
}
.opções-menu:not(:last-child){
    margin-right: 40px;
    
}
.opções-menu a{
    font-family: var(--var-font-titulo);
    text-decoration: none;
    color: white;
    margin: auto auto;
    font-size: 1.3rem;
    font-weight: 100;
}
.opções-menu:hover{
    border-bottom: solid 3px white;
}
    
.container-titulo-crew{
       display: flex;
    margin-left: 10%;
    margin-bottom: 30px;
    width: 350px;
}
.num-crew{
    font-family: var(--var-font-titulo);
    font-size: 2rem;
    color: gray;
    font-weight: 100;

}
.titulo-crew{
    margin-left: 20px;
    font-family: var(--var-font-titulo);
    font-size: 2rem;
    color: white;
    font-weight: 100;
}
/*Configurando o carrocel*/
.slider{
   display: flex;
   margin-left: 10%;
   
    overflow: hidden;
    width: 1200px;
    height: 500px;
    
}
.slider input{
    display: none;
}
.slides{
    
    display: flex;
    width: 4800px;
    height: 500px;
}
.slide-one, .slide{
   
    display: flex;
    
}

.container-texto-slide{
    
    padding-top: 90px;
    text-align: center;
    width: 600px;
    height: 400px;
}

.container-texto-slide h2{
    color: gray;
    font-size: 2rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 3px;
    
}
.container-texto-slide h1{
    color: white;
    font-size: 4rem;
    font-family: var(--var-font-titulo);
    margin-bottom: 30px;
    text-align: left;
    font-weight: 100;
    
    
}
.container-texto-slide p{
    
    color: white;
    font-size: 1.5rem;
    font-family: var(--var-font-titulo);
    line-height: 30px;
    text-align: left;
    letter-spacing: 3px;

}
.slide-one img, .slide img{
    margin-left: 100px;
    width: 500px;
    height: 500px;
    
}

/*Configurando os botões do carrocel*/
.menu-slide{
    position: absolute;
    margin-top: 441px;
    display: flex;
    width: 300px;
    
}
.menu-botão{
    
    border: solid 1px white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.menu-botão:not(:last-child){
    margin-right: 20px;
}
.menu-botão:hover{
    background-color: white;
}
#radio1:checked ~ .slide-one{
    margin-left: 0px;
    transition: 0.5s;
}
#radio2:checked ~ .slide-one{
    margin-left: -1200px;
    transition: 0.5s;
}
#radio3:checked ~ .slide-one{
    margin-left: -2400px;
    transition: 0.5s;
}
#radio4:checked ~ .slide-one{
    margin-left: -3600px;
    transition: 0.5s;
}
/*Configurando para que os botões fiquem checados */
.navigation-menu{
    position: absolute;
    top: 643px;
    display: flex;
    width: 300px;
}

.navigation-menu div{
    background-color: rgba(128, 128, 128, 0.179);
    border: solid 1px white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
    
}

.navigation-menu div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-menu .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .navigation-menu .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-menu .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-menu .auto-btn4{
    background-color: white;
}
.mostrar{
    display: block;
    
}
.ocultar{
    transform: translateY(-2000%);
    display: none;
}
.plano{
    background-image: url("assets/shared/icon-close.svg");
    transition: 0.5s;
}
.background{
    background-color: black;
    background-image: none;
}
.plano-nav{
    background-color:rgba(128, 128, 128, 0.511) ;
}
@media screen and (max-width:1370px){
    .container-titulo-crew{
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
        margin-top: 30px;
    
    }

.slider{
    display: block;
    margin: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    overflow: hidden;
    width: 500px;
    height: 600px;
   
    
}
.slides{
    display: flex;
    width: 1500px;
    height: 600px;
    
}
.slide-one, .slide{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container-texto-slide{
    
    padding-top: 0;
    text-align: center;
    width: 500px;
    height: 300px;
}
.menu-slide{
    margin-top: 257px;
    left: 191px;

}
.navigation-menu{
    position: absolute;
    top: 287px;
    left: 191px;
    display: flex;
    width: 300px;
}

.slide-one img, .slide img{
   
     width: 300px;
     height: 300px;
     justify-self: center;
     
    }
    #radio1:checked ~ .slide-one{
        margin-left: 0px;
        transition: 0.5s;
    }
    #radio2:checked ~ .slide-one{
        margin-left: -500px;
        transition: 0.5s;
    }
    #radio3:checked ~ .slide-one{
        margin-left: -1000px;
        transition: 0.5s;
    }
    #radio4:checked ~ .slide-one{
        margin-left: -1500px;
        transition: 0.5s;
    }

    
    .container-texto-slide h2{
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    .container-texto-slide h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .container-texto-slide p{
        text-align: center;
        font-size: 1rem; 
        margin-bottom: 10px;   
    }

}
@media screen and (max-width:1080px){
    .menu-desktop{
        padding: 35px 10px 0px 20px;
        
    }
    
    
}
@media screen and (max-width:760px){
  
    .menu-desktop{
       display: none;
        
    }
    .hamburguer{
        display: block;
    }
    #logo{
        margin-left: 5%;
        margin-top: 20px;
    }
    .navegação{
        padding-bottom: 0;
        padding-top: 0;
    }
    .menu-mobile{
        padding: 15px;
    } 
    .opções-menu:hover{
        border: none;
    }
    
    
    
}
@media screen and (max-width:502px){
    .slider{
        width: 340px;
        height: 600px;
        
    }
    .slides{
        width: 1020px;
    }
    .container-texto-slide {
        width: 340px;
        padding-top: 0px;
        margin-bottom: 60px;
    }
    .menu-slide{
        margin-top: -305px;
    left: 107px;
    }
    .navigation-menu{
        top: 325px;
        left: 107px;
    }
#radio1:checked ~ .slide-one{
    margin-left: 0px;
    transition: 0.5s;
}
#radio2:checked ~ .slide-one{
    margin-left: -340px;
    transition: 0.5s;
}
#radio3:checked ~ .slide-one{
    margin-left: -680px;
    transition: 0.5s;
}
#radio4:checked ~ .slide-one{
    margin-left: -1020px;
    transition: 0.5s;
}
.slide-one img, .slide img{
    margin-left: 0px;
}
.container-titulo-crew{
    
    left: 20%;
    top: 15%;
  
}
.titulo-crew,.num-crew{
    font-size: 1.5rem;
}
.slide-one img, .slide img{
   
    width: 340px;
    height: 300px;
    
    
   }


}
@media screen and (max-width:380px){
    .container-titulo-crew{
    
        left: 15%;
       
      
    }
}





